
*{box-sizing:border-box;}

h1{text-align:center;
   color:red;
   background-color:white;
   border-radius:50px;
  }
h4{
   text-align:center;
   color: white;
  }
p,ul{
  color:white;
    }
body{
     background-color:gray;     
    }
.r{
   display:flex;
  }

.hi {
   padding:5px;
    }
.center{text-align:center;}
.left{text-align:left;}

a:link {color:cyan;
        text-decoration:none;
       }
a:hover {color:pink;}
